/************** General Style *************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

:root{
    --gray: #585858;
    --border-color: #c9c9c9;
    --color-btn:#D29D4D;
    --color-btn-hover: #cc852c;
    --color-icon:#D39D4E;
    --color-star-rate:#F5C245;
    --color-h6: #D39D4E;
}

body{
     font-family: "Roboto", sans-serif;
}

ul{
    margin: 0;
}

a:not(.article){
    text-decoration: none;

}

li{
    list-style-type: none;
}
/************* Header Style ***************/

header{
    width: 100%;
}

.top-header{
    background-color: #F6EBDC;
    width: 100%;
    padding: 12px;
    gap: 10px;
}

.top-header p{
    font-size: 14px;
}

.top-header a{
    color: #D39D4E;
    font-weight: 500;
}

.logo{
    width: 180px;

}

.logo-nav-search ul li a{
    color: var(--gray);
}

.search input{
    border-radius: 38px;
    padding: 4px 28px;
    border: 1px solid var(--border-color);
}

.search{
    position: relative;
}
.search i{
    position: absolute;
    left: 8px;
    top: 10px;
    color: var(--gray);
}

.search input:focus{
    outline: none;
}

.drop{
position: relative;
z-index: 10;

}


.drop li ul{
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    padding: 13px;
    width: 150px;
    top: 25px;
    left: 31px;
    border-radius: 8px;
    z-index: 1;
}

.drop li:hover ul{
    display: block;

}

.drop li ul li{
    padding: 6px 0;
    border-bottom: 1px solid var(--border-color);
}

.drop li ul li:last-child{
    border-bottom: none;
}

.drop li ul li:hover{
    background-color: #d7d5d5;
    border-radius: 5px;
}
.drop li ul li a{
    color: black;
}

/************* Slider Style ***************/

.btn-pre{
    width: 50px;
    height: 50px;
    margin-top: 210px;
    margin-left: 50px;
}

.btn-next{
    width: 50px;
    height: 50px;
    margin-top: 210px;
    margin-right: 50px;
}

.btn-pre:hover, .btn-next:hover{
    background-color: rgba(36,38,41,0.8);
   border-radius: 50%;
}

.slider-bg{
    background-image: url("/assets/images/H1_Desktop_1600_520_f2068ac1a9.jpg");
    height: 450px;
    width: 100%;
    background-position: left center;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.slider-bg2{
    background-image: url("/assets/images/Top_Banner_Desktop_5936239d37.jpg");
    height: 450px;
    width: 100%;
    background-position: left center;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.btn-brown{
    background-color: #D49C4F;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
}

.btn-brown:hover{
    background-color: #b28240;
}

.slider-heading{
    font-size: 36px;
    color: #000;
    font-weight: 900;
}
.slider-heading-h2{
     font-size: 24px;
    color: #000;
    font-weight: 700;
}
.slider-heading-p{
     font-size: 28px;
    color: #000;
    font-weight: 500;
}

/************* Sidebar Style ***************/

.main{
    background-color: #fff;
    display: grid;
    grid-template-columns:repeat(4,auto);
    grid-template-areas: "item1 item2 item3 item4";
    margin-top: -80px;
    z-index: 99;
    position: relative;
    border-radius: 40px;
    padding: 18px;
    text-align: center;
}
.main span{
    color: var(--gray);
}
.main i{
    color: var(--color-icon);
}

.item1{
    grid-area: item1;
    border-right: 2px solid var(--color-icon);
}
.item2{
    grid-area: item2;
     border-right: 2px solid var(--color-icon);
}
.item3{
    grid-area: item3;
     border-right: 2px solid var(--color-icon);
}
.item4{
    grid-area: item4;
}
.item4 img{
    width: 130px;
    height: 30px;
}
.item4 i{
color: var(--color-star-rate);
}
.item4 span{
    font-weight: 700;
}

/*************  EVERY VISION OF YOU Style***************/
.v-details{
    margin-top: 100px;
    text-align: center;
}
.v-details h1{
    color: var(--color-icon);
    font-weight: 900;
    
}
.v-details h4{
    font-weight: bold;
}
.article{
    color: var(--color-icon);
}
.btn-vision{
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 10px;
}
.btn-vision:hover{
    background-color: var(--color-btn-hover);
    color: #fff;
    border: 1px solid var(--color-btn-hover);
    transition: all 0.2s ease-in-out;
}
/* OWL slider */
.owl__item{
     margin: 20px;

}
.owl__item img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.owl-nav{
    display: block!important;
}
.owl-next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: 33%;
    font-size: 50px!important;
    transition: all 0.2s ease-in-out;
}
.owl-prev{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: -30px;
    top: 33%;
    font-size: 50px!important;
    transition: all 0.2s ease-in-out;
}
.owl-next span{
    transform: translateY(-4%)!important;
}
.owl-prev span{
    transform: translateY(-4%)!important;
}
.owl-next:hover{
    background-color: var(--gray)!important;
    color: white!important;
    width: 40px!important;
    height: 40px!important;
    border-radius: 50% !important;
}
.owl-prev:hover{
    background-color: var(--gray)!important;
    color: white!important;
    width: 40px!important;
    height: 40px!important;
    border-radius: 50% !important;
}
.btn-slider{
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.btn-slider:hover{
    background-color: var(--color-btn-hover);
    color: #fff;
}
.owl-off{
    position: absolute;
    top: 25px;
    left: 25px;
}

.owl-off p{
    background-color: #cc0909;
    color: #fff;
    width: 60px;
    font-size: 13px;
}

/* picture */

.p-main-details{
    width: 100%;
    gap: 30px;
}

.p-main-details div{
    width: 100%;
}
.p-main-details img{
    width: 100%;
}
.p-main-details h3{
    font-size: 36px;
    font-weight: 900;
}
.p-main-details button{
    padding: 10px 60px;
    border: 1px solid black;
    border-radius: 5px;
}
.p-main-details button:hover{
    background-color: var(--color-btn-hover);
    color: #fff;
}

/* pick a style , any style */

.image-items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    column-gap: 5px;
    width: 100%;
}
.side-btn button{
    background-color: var(--color-btn);
    color: #fff;
}
.side-btn button:hover{
    background-color: var(--color-btn-hover);
    color: #000;
}

.image-items a{
    width: 100%;
}
.image-items img{
    width: 80%;
    border-radius: 50%;
}
.image-items h5{
    color: #000;
    font-weight: 900;
    margin-top: 20px;
}

/* Ordering */
.order{
    background-color: #F9F9F9;
    margin-top: 100px;
}
.order a{
    color: black;
}
.order-details{
    padding-top: 40px;
    padding-bottom: 60px;
}
/* Virtual Try-On */

.virtual-main{
    display: flex;
    max-width: 100%;
    gap: 50px;
    margin-top: 100px;
}
.v-left{
    max-width: 50%;
}
.v-left img{
    width: 100%;
}
.v-right{
    max-width: 50%;
}
.v-right button{
    background-color: #fff;
    border: 1px solid #000;
}
.v-right button:hover{
    background-color: var(--color-btn-hover);
    color: #fff;
}
/* banner */
.banner{
    width: 100%;
    margin-top: 100px;
}
.banner-item{
    width: 100%;
}
.b-item-left{
    width: 50%;
}
.b-item-right{
    width: 50%;
}
.gradient-left{
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(117, 178, 179, 1) 0%, rgba(87, 199, 133, 0) 100%);
}
.gradient-right{
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgba(87, 199, 133, 0) 100%);
}
.b-item-left img{
 width: 100%;
}
.b-item-right img{
    width: 100%;
}

/* The reviews are in */

.review{
    margin-top: 100px;
}
.review-h6{
    color:var(--color-h6);
    font-weight: bold;
}
.review1{
    background-color: #F6F6F6;
    padding: 30px 10px;
    border-radius: 15px;
}
/* gallery */

.eyebuydirect{
    margin-top: 100px;
}

.dr-gallery-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.details-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    gap: 10px;
}
.details-left button{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 30px;
    transition: all 0.2s ease-in-out;
}
.details-left button:hover{
    background-color: var(--color-btn-hover);
    color: #fff;
    border: none;
}

/* question */

.question{
    margin-top: 100px;
    text-align: center;
    background-color: #F9F9F9;
    width: 100%;
}
.q-d-images img{
    max-width: 90px;
}

/* Exclusive club */

.club{
    background-color: var(--color-icon);
}

.club-details a{
    color: #fff;
    text-decoration: underline;
}
.c-d-e1{
    left: 12px;
    top: 7px;
    font-size: 30px;
}
.c-d-e2{
    right: 12px;
    top: 13px;
    font-size: 20px;
    color: #000;
}
.club-details-email input{
    padding: 10px 50px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
}
/* Footer */
footer{
    background-color: #242424;
}
.footer{
    padding: 50px;
    
}
.bottom-footer{
    margin-left: 450px;
}
.bottom-footer p{
 border-right: 1px solid #fff;
 padding-right: 10px;
 padding-left: 5px;
}
.bottom-footer p:last-child{
    border-right: none;
}
.bottom-footer a{
    color: #fff;
}
.bottom-footer a:hover{
    border-bottom: 1px solid var(--color-btn-hover);
}
.left-footer{
    margin-left: 50px;

}
.left-footer img{
    width: 150px;
}
#img-3{
    width: 90px;
}
.right-footer{
    margin-right: 150px;
    gap: 80px;
}
.region p a:hover{
    border-bottom: 1px solid var(--color-btn-hover) ;
    
}
.r-f-psize{
    font-size: 13px;
    
}